    body {
        width: auto; height: auto;
    }

    h1{
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 24pt;
        color: red;
    }
    .sr-tunus{
        height: 320px; width: 1040px;
        display: flex;
        justify-content:center;
        flex-direction: column;     
        margin: auto;
        align-items: center;
        padding: 10px;
        
    }
    
    .sr-tunus {
        background: white;
        opacity: 80%;
        border: 5px solid #ffffff ;
        border-radius: 20px;
        border-width: 0vmax;
        text-align: center;
        font-size: 14pt;
        font-weight: bold;
        font-family: 'Lobster', cursive;
    }

    nav {
    
        display: flex;
        justify-content:center;
        flex-direction: column;     
        margin: 40px 60px 0px 140px;
        align-items: center;
        padding: 10px;
        
    }
    
    nav {
        height: 30px; width: 150px;
        background:white ;
        border: 5px solid #ffffff ;
        border-radius: 15px;
        border-width: 0vmax;
        font-size: 17pt;    
        color: yellow;
        cursor: pointer;
        text-indent: none;
    }
    
    nav:hover {
        background: black;
       
    }
    
    nav :active {
        border-color: yellow;
        color: yellow;
    }

    